body {
  background-color: #f2f2f2;
}

.entirety {
  width: 100%;
}

.entirety .main {
  width: 100%;
}

.entirety .main nav {
  height: 40px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#fdfdfd));
  background-image: linear-gradient(to top, #eeeeee, #fdfdfd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.entirety .main nav .navigation {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #000;
  margin-left: 10px;
}

.entirety .main nav .navigation a {
  color: #000;
}

.entirety .main nav .filtrate {
  width: 10%;
  height: 26px;
  color: #000;
  line-height: 26px;
  text-align: center;
  margin: 6px 10px 0 0;
  -webkit-box-shadow: 1px 1px 2px #999,-2px 0px 2px #e2e2e5;
          box-shadow: 1px 1px 2px #999,-2px 0px 2px #e2e2e5;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#faf8f8));
  background-image: linear-gradient(to bottom, #e5e5e5, #faf8f8);
}

.entirety .main .product_list {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

.entirety .main .product_list a {
  display: block;
}

.entirety .main .product_list a li {
  width: 100%;
  padding: 10px 2.5%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #edecec;
}

.entirety .main .product_list a li img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.entirety .main .product_list a li .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 120px;
}

.entirety .main .product_list a li .content h3 {
  font-weight: 500;
  color: #2f2f2f;
  font-size: 15px;
  line-height: 25px;
  height: 50px;
  overflow: hidden;
}

.entirety .main .product_list a li .content .price {
  color: #ee0000;
  font-size: 18px;
  margin-top: 4px;
}

.entirety .main .product_list a li .content .offer_comment {
  color: #adadad;
  font-size: 12px;
  margin-top: 10px;
}

.entirety .main .product_list a li .content .offer_comment span:nth-child(1) {
  margin-right: 7px;
}

.entirety .main .pagelist {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
  position: relative;
}

.entirety .main .pagelist .switchover {
  position: absolute;
  right: 15px;
  top: -35px;
  width: 25px;
  height: 25px;
}

.entirety .main .pagelist span {
  width: 25%;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d8d8d8), to(#efefef));
  background-image: linear-gradient(to top, #d8d8d8, #efefef);
  -webkit-box-shadow: 0px 1px 1px #ccc;
          box-shadow: 0px 1px 1px #ccc;
}

.entirety .main .pagelist .page {
  width: 20%;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  background-color: #fff;
  position: relative;
  border: 1px solid #999;
}

.entirety .main .pagelist .page .page_ul {
  position: absolute;
  left: 0;
  bottom: 34px;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid #999;
  border-bottom: none;
}

.entirety .main .pagelist #selectPage {
  width: 85px;
  padding-left: 22px;
}
/*# sourceMappingURL=Prolist.css.map */